@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: url(images/main2.jpg) no-repeat;
    background-size: cover;
    height: 728px;
    width: 1500px;
    position: relative;
      
}
