header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    justify-content: space-between;
    padding-top: 10px;
    
    

}
.logo{
    width: 100px;
    margin: 16px 14px;
    
    height: 100%;
    position: relative;
}
.logo p{
    position: absolute;
    top:3px;
    right: 12px;
    font-size: 10px;

}
.logo h4{
    font-size: 25px;
    margin-top: 14px;
    margin-left: 14px;
    
    
}
.nav{
    flex: 1;
    
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    flex-shrink: 0;
}
.nav a{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition: 0.4s;
    
}
.nav a:hover{
   color: rgb(233, 216, 130);
   transform: scale(1.1);
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    
    
    width:200px;
    color: black;
    margin-right: 20px;
    ;
}

.icons a{
    width: 20px;
    margin-left: 40px;
    transition: 0.4s;
    

}
.icon{
    width: 100%;
}
.icons a:hover{
    
   transform: scale(1.2);
}
